node_modules
.next
.git
.env
.env.local
.env.production
README.md
Dockerfile
.dockerignore
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
bizsearch24v3
bizsearch24v2
internal_backups
backup_*
*.bak
